{% load i18n %}
{% load r66_extras %}
{% load dajaxice_templatetags %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans 'R66' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% block stylesheet %}{{ STATIC_URL }}r66-bootstrap/css/bootstrap.css{% endblock %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ STATIC_URL }}r66-bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    {% block extrastyle %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}r66-bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}r66-bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}r66-bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}r66-bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}r66-bootstrap/ico/apple-touch-icon-57-precomposed.png">

    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    {% dajaxice_js_import %}
  </head>

  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="#">{% trans 'R66' %}</a>

          <div class="btn-group pull-right">
            {% if user.is_authenticated and user.is_staff %}
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><a href="{% url r66-logout %}">Sign Out</a></li>
            </ul>
            {% else %}
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Anonymous
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><a href="#">Sign in</a></li>
            </ul>
            {% endif %}
          </div>

          {% render_nav_menu page_id %}

        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row-fluid">

        <div class="span3">
        {% block sidebar %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        {% endblock sidebar %}
        <p>
          <button class="btn btn-large btn-inverse" 
              onclick="reboot();"> 
            <i class="icon-refresh"></i> Reboot system</button>
        </p> 
        <p>
          <button id="btn-apply-changes" class="btn btn-large btn-danger"
              onclick="apply_changes();"> 
            <i class="icon-ok"></i> Apply changes</button>
        </p>

        </div><!--/span-->


{% addtoblock "js" %}
<script type="text/javascript">
  function configuration_changed_js_callback(data){
    if ( data["changed"])
    {
      $("#btn-apply-changes").show()
    }
    else
    {
      $("#btn-apply-changes").hide()
    }

  }


  function reboot_callback(data){

     if (data.status.length > 0)
     {
       error = '<div id="alert-error" class="alert alert-error">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>';

        for (message in data.status){
          error = error + "<li>" + data.status[message] + "</li>";
        }

      error = error + '    </ul>'
        + '</div>';
      info = '<div id="alert-info"></div>';
      $("#alerts").replaceWith( '<div id="alerts">' + info + error + '</div>');
     }
     else 
     {
       error = '<div id="alert-error"></div>';
       info = '<div id="alert-info" class="alert alert-info">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>'
        + '      <li> Action completed </li>'
        + '    </ul>'
        + '</div>';

       $("#alerts").replaceWith( '<div id="alerts">' + info + error + '</div>');
    }

  }


  function reboot(){
    Dajaxice.r66.reboot(reboot_callback);
    return false;
  }


  function apply_changes_callback(data){

     if (data.status.length > 0)
     {
       error = '<div id="alert-error" class="alert alert-error">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>';

        for (message in data.status){
          error = error + "<li>" + data.status[message] + "</li>";
        }

      error = error + '    </ul>'
        + '</div>';
      $("#alert-error").replaceWith(error);
     }
     else 
     {
       info = '<div id="alert-info" class="alert alert-info">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>'
        + '      <li> Correctly updated </li>'
        + '    </ul>'
        + '</div>';

       $("#alert-info").replaceWith(info);

       window.location.href = "{% url r66-success %}";

    }

  }


  function apply_changes(){
    Dajaxice.r66.apply_changes(apply_changes_callback);
    return false;
  }


  $( function() {
    $("#btn-apply-changes").hide()
    Dajaxice.r66.configuration_changed(configuration_changed_js_callback);


  });

</script>
{% endaddtoblock %}

        <!-- content -->
        <div class="span9">

          <div class="hero-unit">
            {% block content_title %}
              {% if title %}<h1>{{ title }}</h1>{% endif %}
            {% endblock %}
            {% block content_description %}
              {% if content_description %}<p>{{ content_description }}</p>{% endif %}
            {% endblock %}
          </div>

          <div id="alerts"> 
          <!-- error-messages -->
          {% block error-messages %}
          {% if error_messages %}
          <div id="alert-error" class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
              <ul>
                {% for error_message in error_messages %}
                  <li>{{ error_message }}</li>
                {% endfor %}
              </ul>
          </div>
          {% else %}
          <div id="alert-error"> </div>
          {% endif %}
          {% endblock %}
          <!-- /error-messages -->

          <!-- messages -->
          {% block messages %}
          {% if messages %}
          <div id="alert-info" class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            <li>
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </li>
          </div>
          {% else %}
          <div id="alert-info">  </div/>
          {% endif %}
          {% endblock %}
          <!-- /messages -->
          </div>


          {% block content %}
            {% block object-tools %}
            {% endblock %}
            {{ content }}
          {% endblock %}

        </div><!--/span-->
        <!-- content -->


      </div><!--/row-->

      <hr>

      <footer>
        <a href="http://www.treitos.com"> treitos </a> - &copy; Treitos 2012. <a href="http://creativecommons.org/licenses/by-sa/3.0/">Some rights</a> reserved.
      </footer>

    </div><!--/.fluid-container-->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}r66-bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}r66-bootstrap/js/bootstrap-typeahead.js"></script>


    {% render_block "js" %}

  </body>
</html>


