{% extends "r66/base.html" %}
{% load i18n %}
{% load r66_extras %}
{% load sekizai_tags %}


        {% block sidebar %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

              {% if page_id == "cifs" %}
                <li class="active"><a href="{% url r66-cifs %}">CIFS</a></li>
              {% else %}
                <li><a href="{% url r66-cifs %}">Link</a></li>
              {% endif %}

            </ul>
          </div><!--/.well -->
        {% endblock sidebar %}


          {% block content %}
            {% block object-tools %}
            {% endblock %}
            {{ content }}

    <div id="div-form" class="span6">
    <form action="" method="post" id="cifs_form"
      accept-charset="utf-8">{% csrf_token %}

      <table class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">Settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ samba_settings_form.as_table }}
      </table>

      <div id="buttons_forms">

      <p>
      <input value="Send settings" id="send_msg"
      onclick="send_cifs_settings();" type="button" />
      </p>

      </div> <!-- id="buttons_forms" -->

    </form>
    </div>


{% addtoblock "js" %}
<script type="text/javascript">

  function refresh_page_content() {

    create_cifs_form_buttons();
  }

  function common_callback(data){

     if (data.status.length > 0)
     {
       error = '<div id="alert-error" class="alert alert-error">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>';

        for (message in data.status){
          error = error + "<li>" + data.status[message] + "</li>";
        }

      error = error + '    </ul>'
        + '</div>';
      info = '<div id="alert-info"></div>';
      $("#alerts").replaceWith( '<div id="alerts">' + info + error + '</div>');
     }
     else
     {
       error = '<div id="alert-error"></div>';
       info = '<div id="alert-info" class="alert alert-info">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>'
        + '      <li> Action completed </li>'
        + '    </ul>'
        + '</div>';

       $("#alerts").replaceWith( '<div id="alerts">' + info + error + '</div>');
    }


    // From base.html template
    $("#btn-apply-changes").hide()
    Dajaxice.r66.configuration_changed(configuration_changed_js_callback);


  }


  function send_cifs_settings(){
    data = $('#cifs_form').serializeArray();
    Dajaxice.r66.send_cifs_settings(common_callback, {'form':data});
    return false;
  }


  $( function() {
    // Do nothing
  });

</script>
{% endaddtoblock %}




          {% endblock %}


