{% extends "r66/base.html" %}
{% load i18n %}
{% load r66_extras %}
{% load sekizai_tags %}


        {% block sidebar %}
          <div id="div-sidebar-nav" class="well sidebar-nav" > 
            <ul class="nav nav-list">
            </ul>
          </div><!--/.well -->
        {% endblock sidebar %}


          {% block content %}
            {% block object-tools %}
            {% endblock %}
            {{ content }}
            
    <div id="div-form" class="span6">
    <form action="" method="post" id="profile_form"
      accept-charset="utf-8">{% csrf_token %}

      <table id="netiface_profile_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">General settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ netiface_profile_form.as_table }}
      </table>

      <div id="all_forms">  
      <table id="netiface_profile_extended_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">Bridge settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ netiface_profile_extended_form.as_table }}
      </table>

      <table id="net_settings_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">Network settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ net_settings_form.as_table }}
      </table>

      <table id="net_settings_extended_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">More Network settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ net_settings_extended_form.as_table }}
      </table>

     
      <table id="wifi_settings_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">Wifi settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ wifi_settings_form.as_table }}
      </table>

      <div id="wifi_extended_forms">
      <div id="wifi_extended_client_forms">
      <table id="wifi_settings_none_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">Clear Wifi settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ wifi_settings_none_form.as_table }}
      </table>

      <table id="wifi_settings_wep_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">WEP Wifi settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ wifi_settings_wep_form.as_table }}
      </table>


      <table id="wifi_settings_wpa_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">WPA Wifi settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ wifi_settings_wpa_form.as_table }}
      </table>
      </div> <!-- id="wifi_extended_client_forms" -->

      <div id="wifi_extended_server_forms">
      <table id="wifi_settings_hostapd_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">WPA Access Point settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ wifi_settings_hostapd_form.as_table }}
      </table>
      </div> <!-- id="wifi_extended_server_forms" -->
    </div> <!-- id="wifi_extended_forms" -->


      <table id="dhcpd_settings_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">DHCP daemon settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ dhcpd_settings_form.as_table }}
      </table>

      <table id="dhcpd_settings_extended_form" class="table table-striped table-bordered table-condensed">
      <thead>
          <tr>
            <th colspan="2">More DHCP daemon settings</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>

        {{ dhcpd_settings_extended_form.as_table }}
      </table>

      </div> <!-- id="all_forms" -->

      <div id="buttons_forms">
        <!-- generated by create_profile_form_buttons() -->
      </div> <!-- id="buttons_forms" --> 

    </form>
    </div>


{% addtoblock "js" %}
<script type="text/javascript">
  var netifaces = undefined;

  {% if selected_profile %}
    var selected_profile = {{ selected_profile }};
  {% else %}
    var selected_profile = undefined;
  {% endif %}


  function create_profile_form_buttons() {
      res = '<div id="buttons_forms">';
      
      if (selected_profile != undefined )
      {
          res = res + '<div style="display:none">';
          res = res + '<input type="hidden" ';
          res = res + '  value="' + selected_profile + '" ';
          res = res + '  name="selected_profile">';
        res = res + '</div>';
        
          res = res + '<p>';
          res = res + '<input value="Update profile" id="send_msg"';
          res = res + 'onclick="send_netiface_profile();" type="button" />';
          
          res = res + '<input value="Delete profile" id="send_msg"';
          res = res + 'onclick="delete_netiface_profile();" type="button" />';

          res = res + '</p>';
      }
      else {
          res = res + '<p><input value="Create profile" id="send_msg"';
          res = res + 'onclick="send_netiface_profile();" type="button" /></p>';
      }
      res = res + '</div> <!-- id="buttons_forms" -->';
      
      $("#buttons_forms").replaceWith(res);
  }
  


  function toggle_all_forms() {
        if ($('#id_profile-enabled').is(':checked'))
        {
          $("#all_forms").show(1000);
        }
        else{
          $("#all_forms").hide(100);
        }
  }

  function toggle_wifi_settings_all_forms() {

    var netiface_id = $('#id_profile-netiface option:selected').val();
            
    $.each(netifaces, function(key_iface, iface) {
      if ( iface["pk"] == netiface_id) {
        if ( iface["fields"]["wifi_device"] ) {
             $("#wifi_settings_form").show(1000);
             toggle_wifi_extended_forms();
        }
        else{
             $("#wifi_settings_form").hide(200);
             $("#wifi_extended_forms").hide(200);
         }
      }
    });
  }


function toggle_wifi_settings_forms() {
  
        if ($('#id_profile-netiface_type option:selected').val() == 'bridge')
        {
          $("#wifi_extended_client_forms").hide(200);
          $("#wifi_extended_server_forms").show(1000);
        }
        if ($('#id_profile-netiface_type option:selected').val() == 'internal')
        {
          $("#wifi_extended_client_forms").hide(200);
          $("#wifi_extended_server_forms").show(1000);

        }
        if ($('#id_profile-netiface_type option:selected').val() == 'external')
        {
          $("#wifi_extended_client_forms").show(1000);
          $("#wifi_extended_server_forms").hide(200);

        }
        if ($('#id_profile-netiface_type option:selected').val() == 'unused')
        {
          $("#wifi_extended_client_forms").hide(200);
          $("#wifi_extended_server_forms").hide(200);
        }

        if ($('#id_wifinone-wifi option:selected').val() == 'NONE')
        {
          $("#wifi_settings_wep_form").hide(200);
          $("#wifi_settings_wpa_form").hide(200);
        }
        if ($('#id_wifinone-wifi option:selected').val() == 'WEP')
        {
          $("#wifi_settings_wep_form").show(1000);
          $("#wifi_settings_wpa_form").hide(200);
        }
        if ($('#id_wifinone-wifi option:selected').val() == 'WPA')
        {
          $("#wifi_settings_wep_form").hide(200);
          $("#wifi_settings_wpa_form").show(1000);
        }
  }

  function toggle_netiface_profile_extended_form() {
        $("#id_net-dhcp").show();

        if ($('#id_profile-netiface_type option:selected').val() == 'bridge')
        {
          $("#netiface_profile_extended_form").show(1000);
          $("#net_settings_form").hide(200);
          $("#net_settings_extended_form").hide(200);
          $("#dhcpd_settings_form").hide(200);
          $("#dhcpd_settings_extended_form").hide(200);
        }
        if ($('#id_profile-netiface_type option:selected').val() == 'external')
        {
          $("#netiface_profile_extended_form").hide(200);
          $("#net_settings_form").show(1000);
          toggle_net_settings_extended_form();
          $("#dhcpd_settings_form").hide(200);
          $("#dhcpd_settings_extended_form").hide(200);
        }
        if ($('#id_profile-netiface_type option:selected').val() == 'internal')
        {
          $("#id_net-dhcp").attr('checked', false);
          $("#id_net-dhcp").hide();

          $("#netiface_profile_extended_form").hide(200);
          $("#net_settings_form").show(1000);
          toggle_net_settings_extended_form();
          $("#dhcpd_settings_form").show(1000);
          toggle_dhcpd_settings_extended_form();
        }
        if ($('#id_profile-netiface_type option:selected').val() == 'unused')
        {
          $("#netiface_profile_extended_form").hide(200);
          $("#net_settings_form").hide(200);
          $("#net_settings_extended_form").hide(200);
          $("#dhcpd_settings_form").hide(200);
          $("#dhcpd_settings_extended_form").hide(200);
        }

        toggle_wifi_settings_forms();

  }

  function toggle_net_settings_extended_form() {
        if ($('#id_net-dhcp').is(':checked'))
        {
          $("#net_settings_extended_form").hide(200);
        }
        else{
          $("#net_settings_extended_form").show(1000);
        }
  }

  function toggle_wifi_extended_forms() {
        if ($('#id_wifi-enabled').is(':checked'))
        {
          $("#wifi_extended_forms").show(1000);
        }
        else{
          $("#wifi_extended_forms").hide(200);
        }
  }

  function toggle_dhcpd_settings_extended_form() {
        if ($('#id_dhcpd-enabled').is(':checked'))
        {
          $("#dhcpd_settings_extended_form").show(1000);
        }
        else{
          $("#dhcpd_settings_extended_form").hide(200);
        }
  }

 
  function refresh_page_content() {
    
    toggle_all_forms();

    toggle_dhcpd_settings_extended_form();
    toggle_net_settings_extended_form();
    
    toggle_wifi_extended_forms();
    toggle_wifi_settings_forms();
    toggle_wifi_settings_all_forms();
    
    toggle_net_settings_extended_form();
        
    toggle_netiface_profile_extended_form();
 
    create_profile_form_buttons();
  } 

  function get_netiface_profiles_js_callback(data){

    var items = new Array();
    $.each(data, function(key_profile, profile) {
      if ( items[profile["fields"]["netiface"]] == undefined )
      {
        items[profile["fields"]["netiface"]] = [];
      }
      var active = "";
      if  (selected_profile == profile["pk"] )
      {
        active = 'class="active"';
      }
      
      var enabled = "";
      if ( profile["fields"]["enabled"] )
      {
        enabled = " - enabled";
      }

      items[profile["fields"]["netiface"]].push(
        '<li ' + active + '>'
          + '<a href="{% url r66-interfaces  %}' + profile["pk"] + '">'
          + profile["pk"] + enabled  
          + '</a>'
          + '</li>'
      );
    });
    
    for(var key in items){
      var li_items = items[key].join('\n');
      $("#nav-li-" + key).replaceWith(li_items);
    }

  }


  function get_netifaces_js_callback(data){
    var nav_header_items = [];
    netifaces = data;

    $.each(data, function(key_iface, iface) {
      if ( iface["fields"]["enabled"]) {
      nav_header_items.push(
          '<li id="nav-header-' + iface["pk"] + '" class="nav-header">' 
          + iface["fields"]["name"] + '</li>' 
          + ' <li id="nav-li-' + iface["pk"] + '" /> ' 
          + ' <li><a href="{% url r66-interfaces-new %}"> Add profile </a></li>'

        );
      }

    });

    var ul = $('<ul class="nav nav-list"> ' + nav_header_items.join('\n') + ' </ul>');

    $("#div-sidebar-nav").replaceWith('<div id="div-sidebar-nav" class="well sidebar-nav" >');
    ul.appendTo('#div-sidebar-nav');

    Dajaxice.r66.get_netiface_profiles(get_netiface_profiles_js_callback);
    
    refresh_page_content();
    
  }

  function common_callback(data){

     if (data.status.length > 0)
     {
       error = '<div id="alert-error" class="alert alert-error">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>';

        for (message in data.status){
          error = error + "<li>" + data.status[message] + "</li>";
        }

      error = error + '    </ul>'
        + '</div>';
      $("#alert-error").replaceWith(error);
      $("#alert-info").replaceWith('<div id="alert-info"></div>');
     }
     else 
     {
       $("#alert-error").replaceWith('<div id="alert-error"></div>');
       info = '<div id="alert-info" class="alert alert-info">'
        + '  <button class="close" data-dismiss="alert">×</button>'
        + '    <ul>'
        + '      <li> Action completed </li>'
        + '    </ul>'
        + '</div>';

       $("#alert-info").replaceWith(info);
    }
    
    // profile_id is returned by send_netiface_profile ajax action
    if (data.profile_id != undefined)
    {
      selected_profile = data.profile_id;
    }
    else {
      selected_profile = undefined;
    }
    
    Dajaxice.r66.get_netifaces(get_netifaces_js_callback);

  }

  function delete_netiface_profile(){
    Dajaxice.r66.delete_netiface_profile(common_callback,
        {'id':selected_profile});
    return false;
  }


  function send_netiface_profile(){
    data = $('#profile_form').serializeArray();
    Dajaxice.r66.send_netiface_profile(common_callback, {'form':data});
    return false;
  }



  $('#id_profile-netiface').change(toggle_wifi_settings_all_forms);
  $('#id_wifinone-wifi').change(toggle_wifi_settings_forms);
  $('#id_dhcpd-enabled').change(toggle_dhcpd_settings_extended_form);
  $('#id_wifi-enabled').change(toggle_wifi_extended_forms);
  $('#id_net-dhcp').change(toggle_net_settings_extended_form);
  $('#id_profile-netiface_type').change(toggle_netiface_profile_extended_form);
  $('#id_profile-enabled').change(toggle_all_forms);


  $( function() {
    Dajaxice.r66.get_netifaces(get_netifaces_js_callback);
  });

</script>
{% endaddtoblock %}




          {% endblock %}


